ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
li {
  display: block;
  float: right;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}
.DeckerSearch {
  margin: 10px;
}
.google-logo {
  position: absolute;
  top: 155px;
  left: 550px;
}
#searchbar {
  position: absolute;
  top: 275px;
  left: 390px;
  height: 40px;
  width: 570px;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
  border-radius: 20px;
  border-color: thistle;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}
.GoogleSearch {
  position: absolute;
  text-align: center;
  height: 35px;
  width: 128px;
  top: 355px;
  left: 545px;
}
.lucky {
  position: absolute;
  text-align: center;
  height: 35px;
  width: 128px;
  top: 355px;
  left: 685px;
}
.languages {
  position: absolute;
  text-align: center;
  top: 420px;
  left: 500px;
  font-size: small;
}
.languages a {
  color: blue;
  text-decoration: none;
}
.languages a {
  padding: 8px;
}
.right {
  position: absolute;
  margin: 10px 10px;
  bottom: 6px;
  right: 20px;
  font-size: medium;
  text-transform: capitalize;
}
.right a {
  padding: 8px;
  color: #222;
  text-decoration: none;
}
.DeckerLogoInLeft {
  float: left;
}
.label {
  position: absolute;
  /* border: solid red; */
  padding: 0;
  height: 60px;
  top: 78px;
  left: 49px;
  color: rgb(206, 32, 32);
  font-family: Arial, sans-serif;
  font-size: larger;
}
.top {
  max-width: 100%;
  min-width: 200px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  font-weight: inherit;
  font-style: inherit;
  font-size: 80%;
  text-decoration: none;
}
.form1 {
  padding-top: 45px;
  padding-left: 30px;
}
.qwe {
  width: 50%;
  display: inline-block;
  min-width: 167px;
  min-height: 20px;
  vertical-align: middle;
  width: 50%;
  text-align: left;
  padding-right: 16px;
  font-size: 100%;
}
.asd {
  display: inline-block;
  width: 570px;
  height: 25px;
  vertical-align: middle;
  margin-left: -480px;
}
.rpg {
  display: inline-block;
  width: 32%;
  min-width: 160px;
  margin: 0 0 8px 1%;
  color: #555;
  font-size: 11px;
  padding-left: 5px;
  vertical-align: middle;
  position: relative;
}

.location {
  position: absolute;
  margin: 10px 10px;
  bottom: 45px;
  left: 20px;
  font-size: medium;
  color: #222;
  text-decoration: none;
}
.footer {
  position: absolute;
  margin: 10px 10px;
  bottom: 6px;
  left: 20px;
  font-size: medium;
  text-transform: capitalize;
}
.footer a {
  padding: 8px;
  color: #222;
  text-decoration: none;
}
